<b>Partlist exported from C:/Users/Josef/Documents/Acoustic/GIT/manufacturing/PCB/TransducerBoard/smallTransBrd.sch at 19.02.2019 14:47</b>
<p>
<table>
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Parts</b></td><td><b>Description</b></td><td><b>SPICEMODEL</b></td><td><b>SPICEPREFIX</b></td></tr>
<tr><td>64</td><td></td><td>MA40S4S</td><td>MA40S4S</td><td>G1-G64</td><td>MURATA, piezoelectric ultrasonic sensor</td><td></td><td></td></tr>
<tr><td>8</td><td></td><td>ML16</td><td>ML16</td><td>SV1-SV8</td><td>16pin header</td><td></td><td></td></tr>
</table>
